<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
    > Some of the popular languages that Data Scientists use.
    > Some of the commonly used libraries used by Data Scientists include.
    > Some of the popular Data Science tools.
    > Some examples of arithmetic expressions.

###### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. JavaScript
8. C
9. C++

##### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Sklearn
4. Tensorflow
5. re
6. Matplotlib
7. Seaborn
8. Pytorch
9. Scipy
10. math

In [1]:
import pandas as pd
Tools = pd.DataFrame(['Jupyter', 'Sas', 'Tableau', 'PowerBI', 'Apache Spark', 'Matlab'], columns = ['Data Science Tools'])
Tools

  Data Science Tools
0            Jupyter
1                Sas
2            Tableau
3            PowerBI
4       Apache Spark
5             Matlab

### Below are a few examples of evaluating arithmetic expressions in Python:
    > 5 + 3 * 2 
    > (5 + 3) * 2
    > 6 % 2
    > 2 * 3 ** 2
    > -3 ** 2
    > -(3) ** 2
    > 2 ** 3 ** 2
    > (2 ** 3) ** 2

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200//60

3

## Author
Karan Chauhan